# Environment & Local Secrets
.env
.env.*
!.env.example

# Python & Virtualenv
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so

# Database
*.sqlite3
db.sqlite3

# Static & Media
staticfiles/
media/

# Frontend
node_modules/
.npm/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
